<?xml version="1.0" encoding="UTF-8"?>
<plugin title='Sample plugin xml for BootstrapPlugin'>
	<static-paths>
	  <static-path url="/bootstrap-res" localFolder="resources"/>
	</static-paths>  
  <overlays>
  		<overlay id="launch" >
            <button id="launch_new_bLayout" label="Bootstrap Designer" command="Home.openFile('Bootstrap Designer','Bootstrap Designer', 'content/bootstrap-res/BootstrapThemeMaker/LayoutDesign.html');$('#btnCreateNew').popover('hide');"/>
        </overlay>
		<overlay id="startup.Bootstrap" resourcebundle="content/IvyDC/resources/lang/messages" priority="4">
			<menubar id="newmenu">
	        	<menuitem id="Bootstrap" label="Bootstrap Designer" command="mantleXulHandler.openUrl('Bootstrap Designer','Bootstrap Designer','content/bootstrap-res/BootstrapThemeMaker/LayoutDesign.html')"/>
	      	</menubar>
	    </overlay>
	</overlays>
</plugin>